@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

// Variables
$Rubik: "Rubik", cursive;
$Patua: "Patua One", cursive;
:root{
  --mainColor: #1199e7;
  --bodyColor: white;
  --secondColor: #ff9017;
  --textBlack: #000;
  --subbodyColor: white;
  --rgb66nav: rgb(66, 66, 66);
  --white: #fff;
  --homeBackground: url(/images/home-background.png);
}

body.dark{
  --mainColor:#ff9017;
  --bodyColor: #2b2c2f;
  --subbodyColor: #34363a;
  --secondColor:#1199e7;
  --textBlack: white;
  --rgb66nav: white;
  --white: #fff;
  --homeBackground: url(/images/home-dark-background.png);
  /* --secondColor: #1199e7; */
}

body{
  background-color: var(--bodyColor) !important;
}




/*general*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
  }
  
  .h-container {
    margin: 0 auto !important;
    padding: 0 !important;
  }
  
  #header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .sticky {
      padding-left: 5px;
      margin: 0 auto;
    }
  }

  .small{
      margin-bottom: 5px !important;
  }
  
  .container {
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .logo {
    margin-top: 30px;
    width: 200px;
  }
  
  .letterE {
    color: var(--secondColor);
  }
  .header-text {
    max-width: 400px;
    margin-top: 90px;
    padding-top: 100px;
  color: var(--textBlack);
    button {
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }
  
  h1 {
    font-size: 34px;
  }
  
  .square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: var(--secondColor);
    margin: 15px 0;
  }
  
  .common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid var(--mainColor);
    font-weight: bold;
    cursor: pointer;
    color: #000;
  
    &:hover {
      color: #000;
    }
  }
  
  p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
  }
  
  .line-1,
  .line-2,
  .line-3 {
    width: 15px;
    height: 15px;
    background: var(--secondColor);
    display: inline-block;
  }
  
  .line-2 {
    width: 80px;
    height: 1px;
  }
  
  .line-3 {
    width: 60px;
    height: 1px;
  }
  
  .line {
    line-height: 8px;
  }
  
/*navigation*/
@import "home_scss/navigation";

.admin-form {
    color: var(--textBlack) !important;
    h1{
        color: var(--secondColor) !important;
    }
    table th{
        color: var(--textBlack) !important;
    }
  @import "library.scss";
}

/*offer*/
#offer {
  padding: 40px 0 85px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#offer button {
  margin: 30px 0;
}

/*footer*/
@import "home_scss/footer";

/*screen sizing*/
@import "home_scss/sizing";


/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (START)           */
/*****************************/

$msgbox-area-width-l: 200px;

$msgbox-area-y-pos: 15px;
$msgbox-area-x-s: 20px;
$msgbox-area-x-m: 80px;
$msgbox-area-x-l: 15px;

$msgbox-box-color: #0c0c0c;
$msgbox-box-background-color: rgba(#ffebeb, 0.8);
$msgbox-box-padding: 15px 17px;
$msgbox-box-margin: 13px;
$msgbox-box-border-radius: 12px;
$msgbox-box-box-shadow: 0 10px 15px rgba(#ffffff, 0.65);
$msgbox-box-transition-time: 300ms;

$msgbox-close-color: #131212;
$msgbox-close-margin: 25px;
$msgbox-close-transition-time: 225ms;

$msgbox-close-hover-text-shadow: 0 0 3px #363636;

.msgbox-area {
  z-index: 2;
  width: fit-content;
  max-height: 100%;
  position: fixed;
  bottom: $msgbox-area-y-pos;
  left: $msgbox-area-x-s;
  right: $msgbox-area-x-s;
  .msgbox-box {
    top: 350px;
    font-size: 15px;
    color: $msgbox-box-color;
    background-color: $msgbox-box-background-color;
    padding: $msgbox-box-padding;
    margin: 0 0 $msgbox-box-margin;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: $msgbox-box-border-radius;
    box-shadow: $msgbox-box-box-shadow;
    transition: opacity $msgbox-box-transition-time ease-in;
    &.msgbox-box-hide {
      opacity: 0;
    }
    &:last-child {
      margin: 0;
    }
  }
  .msgbox-content {
    flex-shrink: 1;
  }
  .msgbox-close {
    text-align: right;
    right: 0;
    color: $msgbox-close-color;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 $msgbox-close-margin;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: text-shadow $msgbox-close-transition-time ease-out;
    &:hover {
      text-shadow: $msgbox-close-hover-text-shadow;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .msgbox-area {
    left: $msgbox-area-x-m;
    right: $msgbox-area-x-m;
  }
}

@media (min-width: 200px) {
  .msgbox-area {
    width: fit-content;
    height: 0;
    top: $msgbox-area-y-pos;
    left: auto;
    right: $msgbox-area-x-l;
  }
}

/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (END)           */
/*****************************/


@media only screen and (max-width: 750px) {
  #offer {
    .about-right-col {
      padding-top: 30px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .games-vidiv {
    width: 250px;
    height: 280px !important;
    margin-bottom: 30px;
    .phone {
      top: -8px;
      left: 13px;
      height: 360px;
      width: 270px;
      margin-right: 4px; //changed
      margin-left: 0;
    }
  }
}


@media only screen and (max-width: 750px) {
  #courses {
    .about-right-col {
      padding-top: 30px;
    }
  }

  .contact-row {
    margin-top: 0;
  }
}

@media only screen and (max-width: 350px) {
  .module-vidiv {
    width: 250px;
    height: 280px !important;
    margin-bottom: 30px;
    .phone {
      top: -8px;
      left: 13px;
      height: 360px;
      width: 270px;
      margin-right: 4px; //changed
      margin-left: 0;
    }
  }
}

@import "home_scss/motivationalquote";
