
// Kindergarten----------------------------------------------

#k-coverflow-learning,
#k-coverflow-reading {
  padding: 10px;
  background-color: $bgcolor;
}


#k-learning img,
#k-reading img {
  width: 210px;
  height: 288px;
}

#k-learning,
#k-reading {
    margin: 0 auto !important;
    width: 100%;
    text-align: center !important;
}



#k-learning-controls,
#k-reading-controls {
  position: absolute;
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
  bottom: 20px;
  color: $controlsColor;
}

#k-learning-controls i,
#k-reading-controls i {
  padding: 20px;
}

// Kindergarten----------------------------------------------
