
.faq-list {
    width: 100%;
    margin: 30px auto 0;
    list-style-type: none;
    
    >li {
       width: 100%;
       background-color: #f5f5f5;
       margin-bottom: 10px;
       overflow: hidden;
       
       &.open {
          
          .list-header {
             &:after {
                transform: rotate(180deg);
             }
          }
          
          .list-content {
             width: 100%;
             max-height: 1000px;
             -webkit-transition: max-height 0.5s ease-in;
             -moz-transition: max-height 0.5s ease-in;
             -ms-transition: max-height 0.5s ease-in;
             -o-transition: max-height 0.5s ease-in;
             transition: max-height 0.5s ease-in;
          }
       }
    }
 
    .list-header {
       position: relative;
       padding: 20px 0 20px 30px;
       line-height: 30px;
       cursor: pointer;
       
       &:after {
          content: "";
           width: 0;
           height: 0;
           position: absolute;
           top: 25px;
           right: 25px;
           border-style: solid;
           border-width: 18px 12px 0 12px;
           border-color: #757575 transparent transparent transparent;
           -webkit-transition: transform 0.5s ease-in;
           -moz-transition: transform 0.5s ease-in;
           -ms-transition: transform 0.5s ease-in;
           -o-transition: transform 0.5s ease-in;
           transition: transform 0.5s ease-in;
       }
    }
    
    .list-content {
       max-height: 0;
       overflow: scroll;
       //defined an animation speed that 
       -webkit-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
       -moz-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
       -ms-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
       -o-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
       transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
    }
    
    .list-content-inner {
       width: 100%;
       padding: 0 45px 30px;
    }
 }

 @media only screen and (max-width:600px){
   .faq-list {
      padding: 0 !important;
   }
   .list-content-inner {
      padding: 0 10px 20px !important;
   }
 }