* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
}

.h-container {
  margin: 0 auto !important;
  padding: 0 !important;
}

#header {
  height: 550px;
  background-image: var(--homeBackground);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .sticky {
    padding-left: 5px;
    margin: 0 auto;
  }
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo {
  margin-top: 30px;
  width: 200px;
}

.letterE {
  color: var(--secondColor);
}
.header-text {
  max-width: 400px;
  margin-top: 90px;
  padding-top: 100px;
color: var(--textBlack);
  button {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

h1 {
  font-size: 34px;
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: var(--secondColor);
  margin: 15px 0;
}

.common-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid var(--mainColor);
  font-weight: bold;
  cursor: pointer;
  color: #000;

  &:hover {
    color: #000;
  }
}

p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}

.line-1,
.line-2,
.line-3 {
  width: 15px;
  height: 15px;
  background: var(--secondColor);
  display: inline-block;
}

.line-2 {
  width: 80px;
  height: 1px;
}

.line-3 {
  width: 60px;
  height: 1px;
}

.line {
  line-height: 8px;
}
